/* Welcome */

.title-divider {
  animation: expand ease-in-out 1s forwards;
}

.title-divider h1 {
  margin-top: -20px;
  opacity: 0;
  animation: fadeDown ease-in-out 1s 1s forwards;
}

.title-divider p {
  opacity: 0;
  animation: fadeUp ease-in-out 1s 1s forwards;
}

.circle {
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 50vw;
  height: 50vw;
  border-radius: 30% 70% 40% 60% / 42% 27% 73% 58%;
  background-color: rgb(231, 230, 230);
  animation: expandIn 3s forwards;
}


/* Dashboard */

.custom-input {
  transition: all 250ms;
}

.custom-input:focus {
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.2);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.2);
}

.custom-btn {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
 }
 
.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  transition: all 250ms
 }
 
.custom-btn:hover {
  color: #e8e8e8;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.2);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.2);
 }
 
.custom-btn:hover::before {
  width: 100%;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 }

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 4px;
  border-radius: 50%;
  transition: all .25s;
}

.action-btn:hover {
  background-color: rgba(0,0,0,0.1);
}

.detail-card {
  border-radius: 50px;
  background: #fcfbfb;
  box-shadow:  20px 20px 60px #d6d5d5,
              -20px -20px 60px #ffffff;
}


@keyframes fadeDown {
  from { transform: translateY(-64px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeUp {
  from { transform: translateY(64px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes expand {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

@keyframes expandIn {
  from { transform: scale(1.2); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}